<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="layout.css">
</head>

<body>
  <div class="nav-bar">
    <h1>IOT based smarthome automation system</h1>
  </div>

  <div class="main">
    <h2>LED Controls<h2>
        <br>
        <form id="layout" action="/home" method="post">
          <button class="btn-1" type="submit" name="submit" value="on">On</button>
        </form>
        <form id="layout" action="/home" method="post">
          <button class="btn-2" type="submit" name="submit" value="off">Off</button>
        </form>
  </div>
</body>

</html>
